body{
    padding: 0;
    margin: 0;
    background-color: #bbb;
    font-family: monospace;
}

.sidebar-list{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 260px;
    background-color: darkolivegreen;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar-list-item {
    list-style: none;
}

.sidebar-list-item a {
    display: block;
    font-family: monospace;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    position: relative;
    padding: 1.5rem;
} 