:root {
    --primary-color: rgba(106, 160, 35, 0.8);
    --primary-color-faded: rgba(106, 160, 35, 0.6);
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

ul li,
ol li {
    display: inline;
}

/* Fonts */
@font-face {
    font-family: sirin;
    src: url(./fonts/SirinStencil-Regular.ttf);
}

/* Base */
body,
.sidebar-list-item a span,
.header-btn-item button span,
.user-info,
.user-greeting,
#search-input,
.header-btn-item button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #000;
    overflow: hidden;
}

/* Layout */
.wrapper {
    margin: 0 auto;
    max-width: 100vw;
    background-color: #eee;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
}

.sidebar-list {
    height: 100vh;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
    align-content: start;
}

.sidebar-list-item {
    list-style: none;
    font-weight: bold;
}

.sli1 {
    border-top-style: none;
}

.sidebar-list-item a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    position: relative;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid rgba(106, 142, 35, 1);
    transition: all 0.1s ease;
}

.sidebar-list-item a:hover {
    box-shadow: 0 0 10px inset black;
    z-index: 5;
}

.sidebar-list-item a:active {
    box-shadow: 0 0 20px 0 inset black;
    z-index: 5;
}

.sidebar-list-item a:active>span,
.header-btn-item button:active>span {
    transform: scale(0.9);
}

.sidebar-list-item a span,
.header-btn-item button span {
    display: inline-block;
    transition: all 0.2s ease;
}

/* Header */
#header {
    grid-area: header;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 4rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
}

/* Search Bar */
.search-bar form {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.search-bar label {
    margin-right: -60px;
    z-index: 2;
}

#search-input {
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    background-color: var(--primary-color);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    transition: all 0.2s ease;
}

#search-input:hover,
#search-input:focus {
    background-color: var(--primary-color-faded);
}

#search-input:hover {
    border-color: rgba(0, 0, 0, 0.5);
}

#search-input:focus {
    border-radius: 0;
    margin-left: 60px;
}

/* User Info */
.user-info {
    grid-row: 1;
    grid-column: 8 / 11;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
}

.user-info>.fa-solid {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.user-info>.fa-bell:hover {
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--primary-color);
}

/* User Greeting */
.user-greeting {
    grid-row: 2;
    grid-column: 1 / span 5;
    display: grid;
    align-items: center;
    justify-self: start;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    font-size: 2rem;
}

.user-greeting .fa-cat {
    justify-self: center;
    font-size: 4rem;
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.user-greeting .greeting {
    padding: 1rem;
    justify-self: start;
    grid-row: 1 / 3;
    grid-column: 2 / 5;
}

.user-greeting p {
    font-style: italic;
}

.user-greeting span {
    font-weight: bold;
}

/* Header Buttons */
.header-btn-container {
    grid-row: 2;
    grid-column: 8 / 11;
    align-content: center;
}

.header-btn-list {
    display: flex;
    justify-content: end;
}

.header-btn-item button {
    background-color: var(--primary-color);
    padding: 0.75rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.1s ease;
}

.header-btn-item button:hover {
    box-shadow: 0 0 10px inset black;
    background-color: var(--primary-color-faded);
}

.header-btn-item button:active {
    box-shadow: 0 0 20px inset black;
}

/* Main */
#main {
    margin: 2rem 2rem 4rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    gap: 1rem;
}

.projects-section,
.announcements-section,
.trending-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.projects-section {
    grid-area: projects;
}

.projects-section header h1,
.announcements-section header h1,
.trending-section header h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

/* Projects */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.project {
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    border-left: 10px solid rgba(255, 166, 0, 0.8);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.project-title {
    font-size: 1.5rem;
}

.project-description {
    font-size: 1rem;
    color: #5a5a5a;
    max-width: 80%;
}

.utility-icon-links {
    justify-self: end;
}

.utility-icon-links>a {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: black;
}

.utility-icon-links>a:hover {
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--primary-color);
}

/* Announcements */
.announcements-section {
    grid-area: announcements;
}

.announcements-container {
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.announcement-title {
    font-size: 1rem;
}

.announcement-description {
    color: #5a5a5a;
}

/* Trending */
.trending-section {
    grid-area: trending;
}

.trending-container {
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    gap: 1rem;
}

.trending {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.trending>a {
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.trending-user {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.trending-description {
    color: #5a5a5a;
}