:root {
    --primary-color: rgba(106, 160, 35, 0.8);
    --primary-color-faded: rgba(106, 160, 35, 0.6);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;

    & li {
        display: inline;
    }
}

@font-face {
    font-family: sirin;
    src: url(./fonts/SirinStencil-Regular.ttf);
}

body {
    background-color: #000;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 100vw;
    font-family: monospace;
    background-color: #eee;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
}

.sidebar-list {
    height: 100vh;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5rem;
    align-content: start;
}

.sidebar-list-item {
    list-style: none;
    font-weight: bold;
}

.sli1 {
    border-top-style: none;
}

.sidebar-list-item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    position: relative;
    padding: 0.5rem 2rem;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(106, 142, 35, 1);
}

.sidebar-list-item a:hover {
    box-shadow: 0 0 10px inset black;
    z-index: 5;
}

.sidebar-list-item a:active {
    box-shadow: 0 0 20px 0 inset black;
    z-index: 5;

    &>span {
        transform: scale(0.9);
    }
}

.sidebar-list-item a span {
    display: inline-block;
    transition: all 0.2s ease;
    font-size: 2rem;
    font-family: monospace;
}

/* Header */
#header {
    grid-area: header;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 4rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
}

/* Search Bar */
.search-bar {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#search-input {
    font-family: monospace;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    background-color: var(--primary-color);
    border-radius: 25px;
    border: 3px solid rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
}

.search-bar label{
    margin-right: -60px;
    z-index: 2;
}

#search-input:hover {
    border-color: rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color-faded);
}

#search-input:focus {
    background-color: var(--primary-color-faded);
    border-radius: 0;
    margin-left: 60px;
}

/* User Info */
.user-info {
    grid-row: 1;
    grid-column: 8 / 11;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    align-items: center;

    &>.fa-solid {
        padding: 0.5rem;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
}

/* User Greeting */
.user-greeting {
    font-family: monospace;
    grid-row: 2;
    grid-column: 1 / span 5;
    display: grid;
    align-items: center;
    justify-self: start;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    font-size: 2rem;
}

.user-greeting .fa-cat {
    justify-self: center;
    font-size: 4rem;
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.user-greeting .greeting {
    padding: 1rem;
    justify-self: start;
    grid-row: 1 / 3;
    grid-column: 2 / 5;
}

.user-greeting p {
    font-style: italic;
}

.user-greeting span {
    font-weight: bold;
}

/* Header Buttons */
.header-btn-container {
    grid-row: 2;
    grid-column: 8 / 11;
    align-content: center;
}

.header-btn-list {
    display: flex;
    justify-content: end;
}

.header-btn-item button {
    background-color: var(--primary-color);
    padding: 12px 32px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.header-btn-item button:hover {
    box-shadow: 0 0 10px inset black;
    background-color: var(--primary-color-faded);
}

.header-btn-item button:active {
    box-shadow: 0 0 20px inset black;

    &>span {
        transform: scale(0.9);
    }
}

.header-btn-item button span {
    display: inline-block;
    transition: all 0.2s ease;
    font-size: 1.5rem;
    font-family: monospace;
}

/* Main */
#main {
    grid-area: main;
    background-color: rgba(220, 220, 240, 0.5);
}

/* @media screen and (max-width: 1800px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'header'
            'sidebar'
            'main';
    }

    #header {
        grid-area: header;
    }

    #sidebar {
        grid-area: sidebar;
    }

    .sidebar-list {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;

        &>.sidebar-list-item {
            display: flex;
            align-items: start;
            gap: 0;

            &>a {
                border-right: 1px solid rgba(106, 142, 35, 1);
                padding: 0.5rem 0.5rem;
                display: flex;
                gap: 0;
                flex-direction: column;
                align-items: center;
            }

            &>a span {
                font-size: 1.5rem;
            }
        }
    }

    #main {
        height: 100vh;
        grid-area: main;
    }
} */